* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 1100px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    /* background-color:#2e86de ;  */
    /* border: 1px solid black; */
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition: all 0.9s;

}

.navbar_toggle {
    background-color: black;
    color: black;
}

.color {
    color: green;
}

.nav .logo {
    padding: 3px;
    /* margin: 4px; */
    font-size: 28px;
    /* font-weight: 600; */
    text-decoration: none;
    letter-spacing: 4px;
    color: white;
    font-family: 'Rubik Wet Paint', cursive;

    -webkit-text-stroke: 2px red;
}


.nav .menu_list {
    display: flex;
    align-items: center;
    position: relative;


}

.nav .menu_list li {
    list-style: none;

}

.nav .menu_list li a {
    text-decoration: none;
    color: white;
    padding: 4px 5px;
    margin: 4px 10px;
    cursor: pointer;
    font-size: 18px;
    /* line-height: 1; */
    transition: all 0.5 ease-in;

    position: relative;
    overflow: hidden;




}

.nav .menu_list li a::after {
    content: "";
    height: 2px;
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 2px;
    width: 0px;
    margin-right: 5px;
    /* color: orange; */
    background-color: orange;
    transition: all 0.4s ease;
    transform-origin: right;

}

.nav .menu_list li a:hover::after {
    width: 100%;
    left: 0px;
    /* transform: translateX(-50%); */

}


.nav .menu_list li a.active,
.nav .menu_list li a:hover {

    color: orange;

}


.drop_down {
    top: 22px;
    right: 0px;
    position: absolute;
    background-color: #222f3e;
    cursor: pointer;
    margin-top: 10px;
    display: none;
    color: white;

}

.drop_down ul {
    padding: 0;
}

.drop_down li {
    /* margin: 4px 3px;     */
    position: relative;
    color: white;
    padding-right: 10px;
    padding-left: 3px;
    border-bottom: 1px solid white;
    display: block;
    z-index: 9999;
    /* transition: all 0.5s ease-out; */


}

.drop_down li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: yellow;
    width: 0px;
    transition: all 0.5s;
    color: white;
    z-index: -2;

}

.drop_down li:hover::before {
    width: 100%;
    color: white;

}

.drop_down li:hover {
    color: black;
    z-index: 1000;

}

.drop_btn:hover .drop_down {
    display: block;

}

.carousel-inner img {
    height: 500px;
    width: 100%;

}




@media only screen and (max-width: 500px) {
    .carousel-inner img {
        height: 500px;



    }
}




/* 
.mytabs{
    display: flex;
    flex-wrap: wrap;
    max-width: 600;
}

.mytabs input[type="radio"]{
    display: none;
}

.mytabs label{
    padding: 25px;
    background-color: blue;
    font-weight: 700;
    font-size: 26px;
    border: 1px solid white;
  
}

.mytabs .tab{
    width: 100%;
    background-color: grey;
    padding: 10px;
    order: 1;
    display: none;
}

.mytabs .tab h2{
    font-size: 38px;
}

.mytabs input[type="radio"]:checked + label + .tab{
    display: block;
} */


.about_heading {
    position: relative;
    color: gold;
    animation: move 5s infinite;
}

@keyframes move {
    0% {
        color: black;


    }

    100% {
        color: yellow
    }

}

.about_heading :after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 200px;
    height: 3px;
    background-color: red;
    transform: translateX(-50%);


}



.other_section {
    background-color: #dfe6e9;
}

.other_section img {
    animation: bg 2s infinite;
    /* position: relative; */
}

@keyframes bg {
    0% {
        filter: grayscale(30%);
    }
    75% {
        filter: grayscale(75%);
        filter: brightness(50%);
    }

    100% {
        filter: grayscale(100%);
    }
}


.other-section1 img{
    animation: change 6s infinite;
}

@keyframes change {
    0% {
        filter: grayscale(100%);
        filter: blur(50%);
    }
    75% {
        filter: grayscale(65%);
        filter: brightness(60%);
    }

    100% {
        filter: grayscale(10%);
    }
}


.other_content .accordion-button {
    box-shadow: none;
    margin-top: 2px;

}


.progres_bars .progress {
    margin-bottom: 10px;

}

.services_page {
    background-color: #dfe6e9;
    margin-top: 28px;
}

.services_heading h3 {
    position: relative;
    color: gold;
    animation: move 5s infinite;
}

@keyframes move {
    0% {
        color: black;

    }

    100% {
        color: gold;

    }
}


.services_heading h3:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 200px;
    height: 3px;
    background-color: red;
    transform: translateX(-50%);

}

.services_content h {
    font-size: 25px;
}

.services_content p {
    font-size: 18px;
}

.services_page .box {
    padding: 50px 20px;
    background-color: #b2bec3;
    box-shadow: 4px 4px 8px #b2bec3;
    transition: all 0.4s ease;

}

.box .box_icon {
    font-size: 35px;
    line-height: 1.5;


}


.services_page .box:hover {
    box-shadow: 7px 6px 11px #b2bec3;
    transform: translateY(-5px);
}



.child-section{
   background-image: url(img/img1.jpg);
}
